*{margin:0;
padding: 0;}

body{
    background-color: blanchedalmond;
    
}
.banner{
width: 100%;
min-height: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3rem;
    
position: fixed;    top: 0px; left: 0px; right: 0px;

}
.container{
    width: 90%;
   flex-direction: row;
    text-align: center;
    background-color: aquamarine;
   border-radius: 10px;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    
}
.menu{
    
   text-align: center;
   margin: 1rem;
   font-size: 1.4rem;

}
.menu:hover{
    color: chocolate;
    text-decoration: underline;
}
.oyun{

    background-color: black;
    background-image: url( /img/arka\ plan.jpg);
    background-size: cover;
    
    min-width: 1200px;
    min-height: 500px;
    max-width: 1200px;


    justify-content: flex-end;
    justify-content: space-around;
    align-items: flex-end;
    display: flex;
    padding-bottom:30px ;
  border-radius: 50px;
  margin: auto;
   
    
}
.buton{
    
    background-color: aquamarine;
    border: 1px solid black;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    min-width: 100px;
    cursor: pointers;
}
.buton:hover{
    color:navajowhite;
}
a {
   text-decoration: none;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size: 1.4rem;
}
.about{
    width: 100%;
    height: 1%;
    background-color: gray;
    justify-content: center;
    text-align: center;
    align-items: center;
   
    display: flex;
    margin-top: 300px;
   
    
}
#hakkında{
    width: 200%;
    background-color:gray;
    color: white;
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 10px;
   
    
  
}
#hakkında:hover{
    text-decoration:underline;
    background-color: #B1B1B1 ;
    
}
.rick{
    width: 60%;
    display: flex;
    margin: auto;

}
.game{
    width: 700px;
    height: 700px;
    background-color: black;
    border-radius: 100px;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    margin: auto;
}
.leftside{
    background-image: url(/img/mavi.jpg);
    background-size: cover;
    width: 200px;
    height: 1000px;
    background-color: blue;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    padding-top: 20rem;
}
.rightside{
    background-image: url(/img/mavi.jpg);
    background-size: cover;
    width: 200px;
    height: 1000px;
    background-color: blue;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    padding-top: 20rem;
}
.anadiv{
    color: white;
    font-size: 2rem;
    width: 100%;
    display: flex;
    
    border-radius: 40px;
   
    
    
}